body {
  background: #7AA0A7; 
  font-family: arial;
  margin: 0px;
}

h1 {
  font-family: 'Arial', cursive;
  font-size: 32px;
}

h2, h3, h4 {
  font-family: 'Arial', cursive;
  font-size: 25px;
}

}

p, ul, ol {
  font-size: 20px;
}

.cadre {
  background: #FFE3CB;
  border: 3px;
  margin: 10px 20px;
  padding: 10px 30px;
  box-shadow: 5px 5px 10px #FFE3CB;
}

.color-orange {
background: #FFE3CB;
  border: 3px; solide;
  margin: 10px 80px;
  padding: 20px 30px;
  box-shadow: 5px 5px 10px #FFE3CB;
}

.cadre-titre {
  background: #FFE3CB;
}

}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}


.btn-orange {
  display: inline-block;
  color: white;
  background: #FD8F09;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-orange :hover {
  color: white;
  opacity: 0.8;
}



.line-transparent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line-light {
  height: 10px;
  width: 20%;
  background: #FFE3CB;
}

.line-medium {
  height: 10px;
  width: 30%;
  background: #FD8F09;
}

.line-hard {
  height: 10px;
  width: 50%;
  background: #FB7820;
}


.horizontal-position {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}

.cadre-profil {
  background: #FFE3CB;
  border: 3px solid #FD8F09;
  margin: 0px 0px 0px 10px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #FD8F09;
}

.cadre-photo {
  background: #FFE3CB;
  border: 3px solid #FD8F09;
  margin: 0px 10px 0px 0px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #FD8F09;
  width: 1000px;
}

.card-img-top {
  height: 125px;
  width: 100%;
  object-fit: cover;
}

.socials {
  font-size: 40px;
  color:#FD8F09 ;
}

